@model ProjectsMeasurements.Models.Operations.MeasurementsHeader

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MeasurementsHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeasurementCode" class="control-label"></label>
                <input asp-for="MeasurementCode" class="form-control" />
                <span asp-validation-for="MeasurementCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementDate" class="control-label"></label>
                <input asp-for="MeasurementDate" class="form-control" />
                <span asp-validation-for="MeasurementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label"></label>
                <select asp-for="OwnerID" class="form-control" asp-items="ViewBag.OwnerID"></select>
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractorID" class="control-label"></label>
                <select asp-for="ContractorID" class="form-control" asp-items="ViewBag.ContractorID"></select>
                <span asp-validation-for="ContractorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementTotalPrice" class="control-label"></label>
                <input asp-for="MeasurementTotalPrice" class="form-control" />
                <span asp-validation-for="MeasurementTotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="LastUserID" class="control-label"></label>
                <select asp-for="LastUserID" class="form-control" asp-items="ViewBag.LastUserID"></select>
                <span asp-validation-for="LastUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdateDate" class="control-label"></label>
                <input asp-for="LastUpdateDate" class="form-control" readonly="readonly" />
                <span asp-validation-for="LastUpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
