@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url('images/projectsmesurementslandingpage.jpg');height:733px;width:1100px;font-family:'Comic Sans MS';font-weight:400;font-size:large;color:blue">
    <h1 class="display-4">Welcome</h1>
    @*<img src="~/images/projectsmesurementslandingpage.jpg" />*@
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
